
.trivia{
    height: 100vh;
    padding-top: 5vh;
}
.trivia h1{
    font-weight: 1000;
    font-size: 8vh;
    margin-top: -50px;
}
#categoria{
    font-weight: 1000;
    font-size: 3vh;   
    border-radius: 15px;
    border-color: black;
    border-style: solid;
}
.cajaPregunta{
    margin-top: 10px;
    padding-top: 9vh;
    padding-bottom: 9vh;
    border-radius: 15px;
    border-color: black;
    border-style: solid;
}
.respuestas{
    margin-top: 5vh;
}
.pregunta{
    padding: auto;
    font-weight: 1000;
    font-size: 20px;
}
.opciones{
    margin: 3vh; 
}
.btn {
    background: white;
    width: 60%;
    max-width: 550px;
    padding: 10px;
    margin: 5px;
    cursor: pointer;
    border-radius: 15px;
    border-color: black;
    border-style: solid;
}

.btn:hover{
    transform: scale(1.05);
    transition: all 0.5s;
}

.back{
    width: 20px;
    height: 20px;
    margin-left: 50px;
    margin-top: 10px;
    background-color: white;
    border-radius: 10px;
}

.w-triviate{
    color: white;
}
.bg-blanco{
    background-color: rgb(255, 255, 255, 0.6);
}

@media only screen and (max-width: 766px) {
    .fondo-preguntas{
        background: url(../images/Deportes.jpg);
    }
}

@media only screen and (max-width: 500px) {
}

@media only screen and (max-width: 375px) {
    .trivia h1{
        font-weight: 1000;
        font-size: 5vh;
    }
}

@media only screen and (max-width: 214px) {
}